* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
*::selection {
  color: white;
  background-color: var(--tags-hover);
}

:root {
  --btn-color: #845ec2;
  --tags-hover: #ff9670;
  --primary-text: #000;
  --secondary-text: #6b7280;
  --border-radius: 0.5rem;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px 0 rgb(0 0 0 / 0.06);
}

body {
  width: 60vw;
  margin: 2rem auto;
}
@media (max-width: 1400px) {
  body {
    width: 90vw;
  }
}

nav {
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: var(--shadow);
  display: flex;
  gap: 2rem;
}
@media (max-width: 1400px) {
  nav {
    justify-content: space-around;
  }
}
@media (max-width: 330px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  header {
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
  }
}
header .header-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 1400px) {
  header .header-info {
    order: 2;
  }
}
header .header-info h1 {
  font-weight: 700;
}
header .header-info h1 .h1-rg {
  font-weight: 400;
}
header .header-info p {
  line-height: 1.5;
}
header .header-info .skills-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  header .header-info .skills-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }
}
header .header-info .skills-list li {
  list-style: none;
  display: inline-block;
  background-color: var(--tags-hover);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}
header .header-info .skills-list li::selection {
  background-color: var(--btn-color);
}
header .header-profile figure {
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--tags-hover);
}
@media (max-width: 1400px) {
  header .header-profile {
    align-self: center;
  }
}
header .header-profile img {
  align-self: center;
  order: 1;
  max-width: 100%;
}
@media (max-width: 1400px) {
  header .header-profile img {
    order: 1;
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: var(--btn-color);
}
a:hover {
  color: var(--tags-hover);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 1400px) {
  .projects {
    gap: 2rem;
  }
}
.projects-title {
  display: flex;
  gap: 1rem;
}
@media (max-width: 1400px) {
  .projects-title {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.projects-title h2 {
  font-weight: 700;
}
.projects-cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 1400px) {
  .projects-cards {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
}
.projects-cards .card {
  padding: 1rem 2rem;
  box-shadow: var(--shadow);
  line-height: 1.5rem;
}
@media (max-width: 1400px) {
  .projects-cards .card {
    padding: 2rem;
  }
}
.projects-cards .card h3 {
  font-weight: 600;
}
.projects-cards .card p {
  font-weight: 200;
}

footer {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 1400px) {
  footer {
    flex-direction: column;
    align-items: start;
  }
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-info h3 {
  font-weight: 700;
}
footer .footer-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1400px) {
  footer .footer-links {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
  }
}
@media (max-width: 330px) {
  footer .footer-links {
    flex-direction: column;
    align-items: start;
  }
}
footer #credits {
  font-weight: 100;
}

button {
  border-style: none;
  background-color: var(--btn-color);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}
button:hover {
  background-color: var(--tags-hover);
}
button #a-btn {
  color: white;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
